.contact-div{
    height: auto;
    width: 100%;
    background-color: #b3f1ff;
}

.contact-innerDiv {
    height: auto;
    width: 950px;
    /* border: 2px solid black; */
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.contact-left {
    width: 47%;
    height: auto;
    /* border: 2px solid black; */
    margin-top: auto;
    margin-bottom: auto;
}

.contact-left h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.contact-left h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 30px;
}

.contact-right img {
    width: 466px;
    height: 611px;
    border-radius: 15px;

}